import snippets/*

# Use the "laravel-app" snippet for our site:
# E.g. import laravel-app mysite.com /var/www/mysite.com

:80 {
    # Resolve the root directory for the app
    root * /var/www

    # Provide Zstd and Gzip compression
    encode zstd gzip

    # Enable PHP-FPM
    php_fastcgi php-fpm:9000

    # Allow caddy to serve static files
    file_server
}

# Creates www.example.com and staging.example.com
# import laravel-app example.com